@keyframes intro {
    0% {
      transform: translateY(-100%);
    }
    
    100% {
      transform: translateY(0);
    }
  
  }
  
  main {
    animation: 1s ease-out 0s 1 intro;
  }
  
  @keyframes gelatine { 
    0%, 100% { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }
  
  h1 {
    animation: 1s ease-out 1s 1 gelatine;
  }