@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";
@use "components/cards";
@use "components/guess";
@use "components/aside";
@use "components/animations";

$black: #242424;
$grey: #747481;
$white: #f7f4f2;
$blue: #2f64d6;
$yellow: #FFD90F;

:root {
  font-family: "Press Start 2P", Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: $yellow;
  background-color: $black;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-shadow: 1px 1px 2px $black;
  background-image: url("/img/simpsonsbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hidden {
  visibility: hidden;
}

.tot-hidden {
  display: none;
}

body {
  // cursor: url('/public/img/icons8-homer-simpson.svg'),auto;

  main {
    padding: 20px;
    margin: auto 100px;
    text-align: center;
    height: 100vh;

    button.active-btn {
      background-color: green;

    }

    select {
      background-color: $blue;
      box-shadow: rgba(0 0 10%) 0 2px 4px, rgba(0 0 30%) 0 7px 13px -3px, rgb(43 43 44) 0 -3px 0 inset;
    }

    button {
      cursor: pointer;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 5%;
    }

    .container-room {  display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
      gap: 0 0;
      grid-auto-flow: row;
      max-width: 1000px;
      margin: auto;
      height: 40vh;
      max-height: 400px;
      /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
      grid-template-areas:
        "moes-tavern town-hall burns-manor"
        "krusty-burger game-hub simpsons-house"
        "krusty-burger game-hub kwik-e-mart"
        "elementary-school town-square nuclear-power-plant";

        button[class*='room']{
          border: 1px solid black;
          background-color: $blue;
          color: $white;
          box-shadow: rgba(0 0 10%) 0 2px 4px, rgba(0 0 30%) 0 7px 13px -3px, rgb(43 43 44) 0 -3px 0 inset;
        }

        button[class*='room']:hover{
          background-color: $yellow;
        }

        #game-hub { 
          grid-area: game-hub; 
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        
        button:nth-child(2) { 
          grid-area: krusty-burger; 
        }
        
        button:nth-child(3) { 
          grid-area: moes-tavern; 
        }

        button:nth-child(4) { 
          grid-area: town-hall; 
        }
        
        button:nth-child(5) { 
          grid-area: burns-manor; 
        }
        
        button:nth-child(6) { 
          grid-area: simpsons-house; 
        } 
        
        button:nth-child(7) { 
          grid-area: kwik-e-mart; 
        } 
        
        button:nth-child(8) { 
          grid-area: nuclear-power-plant; 
        }

        button:nth-child(9) { 
          grid-area: town-square; 
        }
        
        button:nth-child(10) { 
          grid-area: elementary-school; 
        }

        .room.active {
          position: relative;

          &::before {
            content: url("/img/icons8-homer-simpson.svg");
            display: flex;
            font-size: 2rem;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
    }
  }
}

@media screen and (max-width: 950px) {
  .mobile {
    display: block;
  }
  
  main, .result, .corner-buttons, .corner-buttons-contents {
    display: none;
  }
}