@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";
@use "components/cards";
@import "abstracts/colors";

:root {
  font-family: "Press Start 2P", Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: $white;
  background-color: $black;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}


main {
  padding: 20px;
  text-align: center;

  .container-room {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    width: 100%;
    height: 50vh;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
      "moes-tavern town-hall burns-manor"
      "krusty-burger game-hub billiard-room"
      "krusty-burger game-hub kwik-e-mart"
      "elementary-school hall study";

      button.active-btn {
        background-color: green;

      }

      button {
        cursor: pointer;
      }

      button[class*='room']{
        border: 1px solid black;
        background-color: $grey;
      }

      button[class*='room']:hover{
        background-color: $yellow;
      }

      #game-hub { 
        grid-area: game-hub; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #room-krusty-burger { 
        grid-area: krusty-burger; 
      }
      
      #room-moes-tavern { 
        grid-area: moes-tavern; 
      }
      
      #room-town-hall { 
        grid-area: town-hall; 
      }
      
      #room-burns-manor { 
        grid-area: burns-manor; 
      }
      
      #room-billiard-room { 
        grid-area: billiard-room; 
      } 
      
      #room-kwik-e-mart { 
        grid-area: kwik-e-mart; 
      } 
      
      #room-study { 
        grid-area: study; 
      }
      
      #room-hall { 
        grid-area: hall; 
      }
      
      #room-elementary-school { 
        grid-area: elementary-school; 
      }

      .room.active {
        position: relative;

        &::before {
          content: url("/public/img/icons8-homer-simpson.svg");
          display: flex;
          font-size: 2rem;
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
  }
}