@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";
@use "components/cards";
@use "components/guess";
@use "components/result";
@import "abstracts/colors";

:root {
  font-family: "Press Start 2P", Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: $yellow;
  background-color: $black;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-shadow: 1px 1px 2px black;
}

.hidden {
  visibility: hidden; //for now, we stil want it to take up space.
}

.tot-hidden {
  display: none;
}

main {
  padding: 20px;
  text-align: center;
  background-image: url("/public/img/simpsonsbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  button.active-btn {
    background-color: green;

  }

  button {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .container-room {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    max-width: 1000px;
    margin: auto;
    height: 45vh;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
      "moes-tavern town-hall burns-manor"
      "krusty-burger game-hub simpsons-house"
      "krusty-burger game-hub kwik-e-mart"
      "elementary-school town-square nuclear-power-plant";

      button[class*='room']{
        border: 1px solid black;
        background-color: $grey;
      }

      button[class*='room']:hover{
        background-color: $yellow;
      }

      #game-hub { 
        grid-area: game-hub; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #room-krusty-burger { 
        grid-area: krusty-burger; 
      }
      
      #room-moes-tavern { 
        grid-area: moes-tavern; 
      }
      
      #room-town-square { 
        grid-area: town-square; 
      }
      
      #room-burns-manor { 
        grid-area: burns-manor; 
      }
      
      #room-simpsons-house { 
        grid-area: simpsons-house; 
      } 
      
      #room-kwik-e-mart { 
        grid-area: kwik-e-mart; 
      } 
      
      #room-nuclear-power-plant { 
        grid-area: nuclear-power-plant; 
      }
      
      #room-hall { 
        grid-area: hall; 
      }
      
      #room-elementary-school { 
        grid-area: elementary-school; 
      }

      .room.active {
        position: relative;

        &::before {
          content: url("/public/img/icons8-homer-simpson.svg");
          display: flex;
          font-size: 2rem;
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
  }
}